<%-include ('../../components/header.ejs');%>
    <%-include ('../../components/navbar.ejs');%>

        <div class="container">
            <hr>
            <h2>Categorias</h2>
            <a class="btn btn-success" href="/admin/categories/new"> Criar nova categoria</a>
            <hr>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% ctgs.forEach(c => { %>
                        <tr>
                            <th>
                                <%= c.id %>
                            </th>
                            <th>
                                <%= c.title%>
                            </th>
                            <th>
                                <%= c.slug%>
                            </th>
                            <th>
                                <a href="/admin/categories/edit/<%= c.id%>" class="btn btn-warning mr-2 ml-3">Editar</a>

                                <form method="POST" action="/categories/delete" style="display:inline" onsubmit="stopEvent(event,this)">
                                    <input type="hidden" name="id" value=" <%= c.id%>">
                                    <button class="btn btn-danger">Deletar</button>
                                </form>
                            </th>
                        </tr>
                        <% }) %>
                </tbody>
            </table>

        </div>
        <%-include ('../../components/footer.ejs');%>
            <script>
                function stopEvent(event, form) {
                    event.preventDefault()
                    let decision = confirm("Voce realmente deseja excluir essa categoria ?")
                    if (decision) {
                        form.submit()
                    }
                }
            </script>